<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
      <ul>
      <% for(let i=0; i<results.length; i++) { %>

      <li><%= results[i].title %></li>
      <li><%= results[i].description %></li>
      <li><%= results[i].url %></li>
      <li><img src="<%= results[i].thumbnails.default.url %>"></li>
      
      <form class="" action="/search/add" method="post">
        <input type="hidden" value="<%= results[i].title %>" >
        <input type="hidden" value="<%= results[i].id %>" >
        <input type="hidden" value="<%= results[i].thumbnails.default.url %>" >
        <input type="submit" value="masukin aja kan">
      </form>

    <% } %>
    </ul>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
